.signUpConatiner{
    display: flex;
    /* justify-content: center; */
    margin-top: 70px;
    /* border: 2px solid red; */
    padding: 50px 0px;
    width: 600px;
    margin-left: 400px;
    box-shadow: 10px 10px 20px;
}
.signUpConatiner .signUpinput{
    padding: 0px 20px;
    margin-left: 10px;
}
.inputSignUp{
    border-top: none;
    border-left: none;
    border-right: none;
}
.signUpConatiner .signUpImg{
    margin-left: 20px;
    /* align-items: center; */
    margin-top: 25px;
}
.registerBtn{
    color: whitesmoke;
    padding: 6px 15px;
    background-color: lightseagreen;
    border: none;
    margin-top: 10px;
}

/* --------------contact page-------- */

.contact-info{
    display: flex;
    margin-left: 200px;
    height: 50px;
    margin-top: 80px;
    
}
.contact-info .phone-info,.email-info,.address-info{
    /* border: 2px solid red; */
    width: 300px;
    margin-top: -10px;
    margin-left: 60px;
    box-shadow: 5px 5px 3px;

}

.contact-btn{
    margin-top: 10px;
    background-color: blue;
    color: whitesmoke;
    border: none;
    padding: 5px 12px;
}